.center {
  position: absolute;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  top: 35%;
  left: 37%;
}

@keyframes background {
  0%   { background-color: #ffffff }
  25%  { background-color: #c5d3c8 }
  50%  { background-color: #c5d3d0 }
  75%  { background-color: #c5d0d3 }
  100% { background-color: #c8c5d3 }
}

#audio-canvas {
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#on-off-button {
  border-radius: 5px;
}

#about-button {
  float: right;
}

#wave-span {
  float: right;
}

#button-container {
  margin-top: 5px;
}
